/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 34px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #dddddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

nav {
    display: block
    
}

#title { 
  margin-top: 5px; 
  font-size: 48px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  text-align: center; 
} 