<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Scrap Log-in</title> 
    <link rel="stylesheet" href="/static/login.css"> 
    <link rel="stylesheet" href="/static/nav.css">
</head> 
<body>
    <nav>
        <div class="topnav">
            <a href="/" id="title">Scrap</a>
        </div>
    </nav>

    <div class="container"> 
        <div class="section1"> 
            <h1 id="login">Log-in</h1> 
        </div> 
        <form action="/action_page.php" method="post">
            <div>
              <label for="uname"><b>Username:</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>
          
              <label for="psw"><b>Password:</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                  
              <button type="submit" style = "float: right;">Login</button>
            </div>
        </form>
    </div>
</body> 
</html> 